<a href="{{topic.url}}">
  <div class="topic-title">
    <h4>{{topic.title}}</h4>
  </div>
  {{#if excerpt}}
    <div class="topic-excerpt">
      <a href="{{topic.url}}" class="topic-excerpt">
        {{dir-span excerpt htmlSafe="true"}}
        {{#if excerptTruncated}}
          <span class="topic-excerpt-more">...{{i18n 'read_more'}}</span>
        {{/if}}
      </a>
    </div>
  {{/if}}
  <div class="topic-meta-data">
    {{category-link topic.category}}
    {{format-date topic.created_at leaveAgo="true"}}
  </div>
</a>
{{#if loading}}
  {{conditional-loading-spinner condition=loading}}
{{/if}}
